# Dependencies
node_modules/
.pnp
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
android/
ios/

# Build artifacts
*.jks
*.keystore
android/key.properties

# Environment & Secrets
.env
.env.local
.env.*.local

# Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
.idea/

# Logs
*.log
firebase-debug.log*
