# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Node / Cloud Functions
node_modules/
functions/node_modules/
functions/lib/
firebase-debug.log
firebase-debug.*.log
*.log

# Miscellaneous
.DS_Store
.idea/
*.iml
